body{
	background-image: linear-gradient(180deg, rgba(8, 182, 232, 0.4), white);
	background-repeat: no-repeat;
}

.add-btn{
	color: white !important;
}

html,
body
{
  height: 45%;
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header{
    height: 650px;
  }
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.navbar-brand{
  font-size: 30px; 
  margin-left: 4%;
  font-family:Satisfy;
}

.contain-room {
	max-width: 100%;
}

.test{
	border: 1px solid black;
}






.trigger {
  padding: 1px 10px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #eee;
  color: #212121;
  display: inline-block;
  margin: 2px 5px;
}

.hoverable, .trigger {
  transition: box-shadow 0.55s;
  box-shadow: 0;
}

.hoverable:hover, .trigger:hover {
  transition: box-shadow 0.45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nameroom{
	width: 40%;
}